# Object files
*.o
*.iex
*.crf
*.d
*.__i
*.lst
*.map
*.axf
*.plg
*.lnp
*.sct
*.tra

# Libraries
#*.lib
*.a

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
*.out
*.app

# Backup files
*.bak

